@page
@model IndexModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


				<!-- Microsoft Azure -------->
<div id="microsoft" " class="section section-bg-10 section-fixed pt-18 pb-18">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div data-wow-delay="0.3s" class="text-center white wow fadeInUp">
                    <h1 class="fw-bolder white mb-1 section-title">WHY MICROSOFT?</h1>
                    <span id="js-rotating" class="cd-words-wrapper fz-30 white fw-600">
                        CLOUD,
                        SCALABILITY,
                        POWER BI,
                        SECURITY,
                        IaaS+PaaS,
                        MODULARITY,
                        EXPANDABILITY
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section pt-7">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div data-wow-delay="0.3s" class="single-page-title mb-7 text-center wow fadeInUp" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                    <div class="heading-line thick"></div>
                    <h1 class="mb-0">Microsoft is a leader in 18 Gartner Magic Quadrants</h1>
                    <p class="dark-color fz-19"><em>including Cloud Infrastructure as a Service and Business Intelligence and Analytics Platforms</em></p>
                    <p>
                        Microsoft has been scoring some real victories lately in terms of how analysts have been rating their “cloud-first, mobile-first” productivity solutions.
                        Gartner, in particular, has been rating Microsoft as a Leader in a number of their Magic Quadrants, from cloud infrastrucutre to Business Intelligence and Analytics Platforms.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">

        <div class="row">

            <div class="col-sm-6">
                <div data-wow-delay="0.3s" class="wow fadeInLeft" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                    <p>
                        <span class="first-letter">M</span>icrosoft is the only cloud computing vendor that is a Magic Quadrant Leader in all of the major cloud services categories,
                        including IaaS, Platform as a Service (PaaS), and Software as a Service (SaaS).
                        These ratings place Microsoft in an enviable position above Amazon AWS, Salesforce, and Google.
                    </p>
                    <p>
                        Microsoft Azure is second in market share, not only in IaaS, but also in integrated IaaS+PaaS.
                        It has sustained a very high growth rate over multiple years, and Gartner estimates its end-of-2016 revenue run rate as approximately $3 billion.
                        Azure is already a very capable and broad platform, and Microsoft continues to accelerate its new-feature velocity.
                        Microsoft is now launching innovative Azure capabilities of its own, rather than primarily copying competitor capabilities.
                    </p>
                    <p>
                        Microsoft is leveraging its tremendous sales reach and ability to bundle Azure with other Microsoft products and services in order to drive adoption.
                        It is steadily growing the size of Azure customers; many are beginning to spend more than $500,000 a year, and a few exceed $5 million in annual spending.
                    </p>
                </div>
            </div>
            <div class="col-sm-6">
                <div data-wow-delay="0.3s" class="wow fadeInRight" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInRight;">
                    <p>
                        Microsoft offers a broad range of BI and analytics capabilities with its Power BI suite, delivered via
                        the Azure cloud. Power BI Desktop can be used as a stand-alone, on-premises option for individual
                        users, or when power users are authoring complex data mashups involving on-premises data
                        sources. Power BI offers data preparation, data discovery and interactive dashboards via a single
                        design tool.
                    </p>
                    <p>
                        Microsoft offers a broad range of BI and analytics capabilities with its Power BI suite, delivered via
                        the Azure cloud. Power BI Desktop can be used as a stand-alone, on-premises option for individual
                        users, or when power users are authoring complex data mashups involving on-premises data
                        sources. Power BI offers data preparation, data discovery and interactive dashboards via a single
                        design tool.
                    </p>
                    <p>
                        Customers now want ease of use
                        not only with simple queries, but also with increasingly sophisticated types of questions —
                        mashing together multiple data sources from multiple fact tables.
                        Microsoft's ability to
                        manipulate data from multiple data sources — both cloud-based and on-premises, relational as
                        well as Hadoop-based, and including semistructured content — contributed to this high composite
                        score.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section pt-7 mb-7">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="seperate-line"></div>
            </div>
        </div>
    </div>
</div>

<div class="section pb-9">
    <div class="container">
        <div class="row">
            <div data-wow-delay="0.3s" class="single-page-title mb-7 text-center wow fadeInUp" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                <h1 class="mb-0">Gartner Magic Quadrants</h1>
            </div>
            <div class="col-sm-6">
                <div data-wow-delay="0.3s" class="wow fadeInLeft" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                    <p>
                        <span class="first-letter">W</span>hich are the competing players in the major technology markets?
                        How are they positioned to help you over the long haul? A Gartner Magic Quadrant is a culmination of research in a specific market, giving you a wide-angle
                        view of the relative positions of the market's competitors.
                        By applying a graphical treatment and a uniform set of evaluation criteria, a Magic Quadrant helps you quickly ascertain how well technology providers are executing
                        their stated visions and how well they are performing against Gartner's market view.
                        It provides a graphical competitive positioning of four types of technology providers, in markets where growth is high and provider differentiation is distinct:
                    </p>
                </div>
            </div>
            <div class="col-sm-6">
                <div data-wow-delay="0.3s" class="wow fadeInRight" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInRight;">
                    <div class="tabs">
                        <!-- Nav tabs -->
                        <div class="nav-tabs-wrapper">
                            <ul class="nav nav-tabs">
                                <li class="os-font active">
                                    <a href="#tab-content-1" data-toggle="tab" aria-expanded="true">
                                        Leaders
                                    </a>
                                </li>
                                <li class="os-font">
                                    <a href="#tab-content-2" data-toggle="tab" aria-expanded="false">

                                        Visionaries
                                    </a>
                                </li>
                                <li class="os-font">
                                    <a href="#tab-content-3" data-toggle="tab" aria-expanded="false">
                                        Niche Players
                                    </a>
                                </li>
                                <li class="os-font">
                                    <a href="#tab-content-4" data-toggle="tab" aria-expanded="false">
                                        Challengers
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane fade active in" id="tab-content-1">
                                <p>
                                    Leaders execute well against their current vision and are well positioned for tomorrow.
                                </p>
                            </div>
                            <div class="tab-pane fade" id="tab-content-2">
                                <p>
                                    Visionaries understand where the market is going or have a vision for changing market rules, but do not yet execute well.
                                </p>
                            </div>
                            <div class="tab-pane fade" id="tab-content-3">
                                <p>
                                    Niche Players focus successfully on a small segment, or are unfocused and do not out-innovate or outperform others.
                                </p>
                            </div>
                            <div class="tab-pane fade" id="tab-content-4">
                                <p>
                                    Challengers execute well today or may dominate a large segment, but do not demonstrate an understanding of market direction.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="section related-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 p-0">


                <div data-wow-delay="0.3s" class="portfolio-grid wow fadeIn">
                    <div class="portfolio-masonry-item text-center col-lg-3 col-md-3 col-sm-6 col-xs-12 m-0 p-0">
                        <a href="images/portfolio/portfolio_650x650_GartnerBI_Quadrant.jpg" class="mfp-image gallery-item" data-rel="prettyPhoto[gallery]">
                            <div class="grid-image-wrapper">
                                <div class="grid-overlay"></div>
                                <div class="grid-thumbnail">
                                    <img src="images/portfolio/portfolio_480x480_GartnerBI_Quadrant.jpg" alt="" />
                                </div>
                                <div class="grid-content-wrapper">
                                    <div class="grid-content-inner">
                                        <div class="grid-content">
                                            <h3 class="white">Magic Quadrant for Business Intelligence and Analytics Platforms</h3>
                                            <div class="liner color"></div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div data-wow-delay="0.3s" class="portfolio-grid wow fadeIn">
                    <div class="portfolio-masonry-item text-center col-lg-3 col-md-3 col-sm-6 col-xs-12 m-0 p-0">
                        <a href="images/portfolio/portfolio_650x650_GartnerDMS_Quadrant.jpg" class="mfp-image gallery-item" data-rel="prettyPhoto[gallery]">
                            <div class="grid-image-wrapper">
                                <div class="grid-overlay"></div>
                                <div class="grid-thumbnail">
                                    <img src="images/portfolio/portfolio_480x480_GartnerDMS_Quadrant.jpg" alt="" />
                                </div>
                                <div class="grid-content-wrapper">
                                    <div class="grid-content-inner">
                                        <div class="grid-content">
                                            <h3 class="white">Magic Quadrant for Data Management Solutions for Analytics</h3>
                                            <div class="liner color"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div data-wow-delay="0.3s" class="portfolio-grid wow fadeIn">
                    <div class="portfolio-masonry-item text-center col-lg-3 col-md-3 col-sm-6 col-xs-12 m-0 p-0">
                        <a href="images/portfolio/portfolio_650x650_GartnerCloud_Quadrant.jpg" class="mfp-image gallery-item" data-rel="prettyPhoto[gallery]">
                            <div class="grid-image-wrapper">
                                <div class="grid-overlay"></div>
                                <div class="grid-thumbnail">
                                    <img src="images/portfolio/portfolio_480x480_GartnerCloud_Quadrant.jpg" alt="" />
                                </div>
                                <div class="grid-content-wrapper">
                                    <div class="grid-content-inner">
                                        <div class="grid-content">
                                            <h3 class="white">Magic Quadrant for Cloud Infrastructure as a Service, Worldwide</h3>
                                            <div class="liner color"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div data-wow-delay="0.3s" class="portfolio-grid wow fadeIn">
                    <div class="portfolio-masonry-item text-center col-lg-3 col-md-3 col-sm-6 col-xs-12 m-0 p-0">
                        <a href="images/portfolio/portfolio_650x650_GartnerDS_Quadrant.jpg" class="mfp-image gallery-item" data-rel="prettyPhoto[gallery]">
                            <div class="grid-image-wrapper">
                                <div class="grid-overlay"></div>
                                <div class="grid-thumbnail">
                                    <img src="images/portfolio/portfolio_480x480_GartnerDS_Quadrant.jpg" alt="" />
                                </div>
                                <div class="grid-content-wrapper">
                                    <div class="grid-content-inner">
                                        <div class="grid-content">
                                            <h3 class="white">Magic Quadrant for Data Science Platforms</h3>
                                            <div class="liner color"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>



<div class="section pt-7 mb-7">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="seperate-line"></div>
            </div>
        </div>
    </div>
</div>	