@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



@{ Html.RenderPartial("01_Index/_01_fullscreen_banner.cshtml", Model); }
@{ Html.RenderPartial("01_Index/_02_terminology.cshtml", Model); }
@{ Html.RenderPartial("01_Index/_03_azure.cshtml", Model); }


@section NaviBar
    {
    <li><a class="onepage current" href="#home">Home</a></li>
    <li><a class="onepage" href="#terms">Terminology</a></li>
    <li><a class="onepage" href="#microsoft">Why Microsoft?</a></li>


       <li><a asp-page="/Project">Project</a></li>

}