@page
@model ProjectModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<div id="home" class="section section-bg-5 pt-21 pb-15">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div data-wow-delay="0.3s" class="text-center wow fadeInUp">
                    <h1 class="fw-bolder os-font white mb-2">BUSINESS INTELLIGENCE & ANALYTICS</h1>
                    <h1 class="fw-bolder os-font white mb-2">& PERFORMANCE MANAGEMENT PLATFORM</h1>
                    <!--<h5 class="fw-normal os-font white">
                        Lorem ipsum dolor sit amet,<br />
                        consetetur sadipscing elitr.
                    </h5>
                    -->
                </div>
            </div>
        </div>
    </div>
</div>


<div class="section pt-7 pb-14">
    <div class="container">

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div data-wow-delay="0.3s" class="single-page-title mb-7 text-center wow fadeInUp" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                    <div class="heading-line thick"></div>
                    <h1 class="mb-0">„Thinking Future“</h1>
                    <p class="dark-color fz-19"><em>Business Intelligence Platform – Roadmap & Implementation</em></p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div data-wow-delay="0.3s" class="wow fadeInLeft" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                    <p>
                        <span class="first-letter">D</span>ata is the lifeblood of businesses, and competitive advantage is fueled by the ability to analyze the rapidly increasing amounts to surface key insights.
                        <strong>Thinking Future </strong> is the internal project code name for the EXPO Initiative "BI Platform Roadmap & Implementation".
                        We started this initiative because we´re <strong>increasingly confronted by data analytics demands</strong> beyond pure adhoc queries or standard reporting requirements.

                    </p>
                    <p>
                        The current IT architecture of UI is monolithically,
                        hard to grow and inflexible to changing performance demands. The proclaimed goals of UI will not be achievable given the information technology architecture currently in place.
                    </p>
                    <p>
                        On one hand, we see the increasing demand of <strong>self-service & ad-hoc data science and analysis</strong>.
                        On the other Universal Investment issued the directive that a rapid growth in business volumes and introduction of new services and customers must be accommodated.
                        This will worsen the situation and is forcing us to act now to prepare for actual and especially future challenges.
                    </p>

                    <p>
                        The need for a <strong>scalable, durable, flexible, state-of-the-art platform</strong> as technical foundation to support upcoming / future business initiatives and fulfil growing requirements is insurmountable.
                        <!--The project has several goals and is multidisciplinary endeavor which requires a thorough analysis. 	-->
                    </p>
                    <p>
                        The project´s solution approach is an Azure <strong>cloud-based development platform</strong> to quickly deploy and update business intelligence services based on on-premise and cloud-based data storage,
                        using <strong>newest cloud services and analytic technologies</strong> and make this <strong>available for all employees</strong>, customers and partners.
                    </p>
                </div>
            </div>
            <div class="col-sm-6">
                <div data-wow-delay="0.3s" class="wow fadeInRight" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInRight;">
                    <!--<h4 class="fw-600 dark-color mb-1">Biggest Challenges</h4>-->
                    <p>
                        The project´s solution approach is an Azure <strong>cloud-based development platform</strong> to quickly deploy and update business intelligence services based on on-premise and cloud-based data storage,
                        using <strong>newest cloud services and analytic technologies</strong> and make this <strong>available for all employees</strong>, customers and partners.
                    </p>
                    <p>
                        This will give us the possibility to leverage intellectual property that used to be spread out in countless files or in people’s heads and visualize and analyze data with greater speed,
                        efficiency, and experience data in new ways.
                        The new platform aims to transform the company´s data to <strong>support informed decision making</strong> and allow role based access and even development <strong>from anywhere with any device</strong>.
                    </p>
                    <p>
                        By turning to cloud-based technology and the Microsoft Azure BI platform we´ll speed up the response time for processing data and communications,
                        <strong>decrease infrastructure and hardware costs</strong> and <strong>increase flexibility and scalability</strong> to manage any level of usage and capacity.
                    </p>
                    <p>
                        Another big advantage of the planned approach is the <strong>broad UI-internal knowledge</strong> of the required technologies and
                        the great selection of suitable consultants – onsite, as well as on-, near- and offshore.
                        The new technologies are <strong>easy to integrate in the enterprise architecture</strong> and the user´s learning curve will be very steep because of the high familiarity
                        with the offered tools and the ease of integration with already used ones like excel, powerpoint, etc.
                    </p>


                </div>
            </div>
        </div>
    </div>
</div>

